html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: lightgray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.key {
  background-color: #818384;
}

.empty {
  border: 2px solid #3a3a3c;
}

.absent {
  background-color: #3a3a3c;
}

.present {
  background-color: #b59f3b;
}

.correct {
  background-color: #538d4e;
}

.pop {
  animation-name: PopIn;
  animation-duration: 100ms;
}

@keyframes PopIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.flip-in {
  animation-name: FlipIn;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes FlipIn {
  0% {
    transform: rotateX(0);
    background-color: black;
  }
  100% {
    transform: rotate(-90deg);
    background-color: black;
  }
}

.flip-out {
  animation-name: FlipOut;
  animation-duration: 250ms;
  animation-timing-function: ease-in;
}

@keyframes FlipOut {
  0% {
    transform: rotateX(-90deg);
    background-color: black;
  }
  100% {
    transform: rotate(0);
    background-color: black;
  }
}

/* .tile-reveal {
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cell-reveal.absent {
  animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
  animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
  animation-name: revealPresentCharCell;
} */

/* .tile-reveal {
  animation-name: FlipIn;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
} */

/* .cell-reveal.absent {
  animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
  animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
  animation-name: revealPresentCharCell;
} */
